.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.button {
  width: 100%;
  text-align: center;
}
